@import "color";
@import "breakpoints";

.table {
  & > thead {
    background: $color-main;
    color: #fff;

    // & tr > th {
    //   &:first-child {
    //     max-width: 1rem;
    //   }
    //   &:nth-child(2) {
    //     max-width: 2rem;
    //   }
    //
    //   &:nth-child(3) {
    //     max-width: 5rem;
    //   }
    //
    //   &:nth-child(4) {
    //     max-width: 3rem;
    //   }
    // }
  }

  & > tbody {
    & > tr {
      &:hover {
        background: rgba($color-main, 0.1);
      }

      @include media-breakpoint-down(sm) {
    		line-height: 1.5rem !important;
    	}
    }
  }
}
