@import "font";

html {
  box-sizing: border-box;
}

body {
  background:url('../assets/img/pattern.svg') no-repeat;
  background-size: auto;
  font-family: $font-main;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.hide {
  display: none !important;
  visibility: hidden;
}

.footer {
  text-align: center;
  margin-top: 2rem;
}
