@import "font";
@import "color";

html {
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background: $color-grey-background;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: $color-main;
  text-decoration: none;

  &:active, &:hover {
    color: $color-grey;
    text-decoration: none;
  }
}

.hide {
  display: none !important;
  visibility: hidden;
}

.footer {
  text-align: center;
  padding: 2rem 0;
}
