// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

body {
  background:url('assets/img/pattern.svg') no-repeat;
  background-size: auto;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.root {
  height: 100%;
}

// Additional settings go here
