@import "color";
@import "breakpoints";

.button-main-color {
	border: $color-light solid 0.25rem;
	background-color: $color-main;
	color: #fff;
	font-size: $font-size-lg;
	padding: 1.375rem 0;
	transition: all 0.3s;
	border-radius: 0;
	font-weight: 700;

	@include media-breakpoint-down(xs) {
		padding: 0.7rem 0;
	}

	@include media-breakpoint-down(sm) {
		border-width: 0.125rem;
	}

	// TODO: Make swipe to right effect
	&:hover {
		background-color: $color-light;
		color: $color-main;
	}

	&:focus {
		background-color: $color-light;
		border-color: $color-main;
		color: $color-main;
	}

	&:disabled {
		background-color: $color-grey;
		color: $color-light;
	}

	&:hover:disabled {
		background-color: lighten($color-grey, 10%);
	}
}
