@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

// $font-main: Helvetica, Arial, sans-serif;
$font-main: 'Lato', Arial, sans-serif;

$font-size-xl: 2rem;
$font-size-lg: 1.5rem;
$font-size-md: 1rem;
