@import "color";

.container-transparent {
	background: rgba(72,72,72,0.4);
	padding: 2rem;
	min-width: 100%;
  margin: 2rem 0;
	border-radius: 0.5rem;

	@include media-breakpoint-down(xs) {
		padding: 1.5rem;
		margin-top: 1.5rem;
	}
}

.material-box {
	background: #fff;
	border-radius: 0.2rem;
	padding: 2rem;
	min-width: 100%;
	margin: 1rem 0;
	border: 0 solid $color-main;
	border-width: 0.2rem 0 0 0;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
