.container-transparent {
	background-color: rgba(72,72,72,0.4);
	padding: 2rem;
	min-width: 100%;
  margin: 2rem 0;
	border-radius: 0.5rem;

	@include media-breakpoint-down(xs) {
		padding: 1.5rem;
		margin-top: 1.5rem;
	}
}
