@import "color";
@import "font";
@import "breakpoints";

.submit-button {
	border: #fbfbfb solid 0.25rem;
	background-color: $color-main;
	color: #fff;
	font-size: $font-size-lg;
	padding: 1.375rem 0;
	transition: all 0.3s;
	border-radius: 0;
	font-weight: 700;

	@include media-breakpoint-down(xs) {
		padding: 0.7rem 0;
	}

	&:hover {
		background-color: $color-transparent;
		color: $color-main;
	}
}

.input {
	color: #3c3c3c;
  font-weight: 500;
	font-size: $font-size-md;
	border-radius: 0;
	line-height: 1.5rem;
	background: #fbfbfb;
	padding: 0.825rem 0.825rem 0.825rem 3.375rem;
	margin-bottom: 1.5rem;
	width:100%;
	box-sizing: border-box;
  border: 3px solid $color-transparent;

 &:focus {
		box-shadow: 0;
		border: 0.25rem solid $color-main;
		color: $color-main;
		outline: none;
	}

	@include media-breakpoint-down(xs) {
		padding: 0.625rem 0.625rem 0.625rem 3.375rem;
		margin-bottom: 0.5rem;
	}
}

/* Icon */
.icon {
	background-size: 1.875rem;
	background-position: 0.6875rem 0.5rem;
	background-repeat: no-repeat;
}
.icon-name {
	background-image: url(assets/icon/name.svg);
}

.icon-email {
	background-image: url(assets/icon/email.svg);
}

.icon-code {
	background-image: url(assets/icon/code.svg);
}

.icon-dob {
	background-image: url(assets/icon/cake.png);
}

.icon-university {
	background-image: url(assets/icon/graduation-cap.png);
}
