@import "color";
@import "font";
@import "breakpoints";
@import "button";

.submit-button {
	@extend .button-main-color;
}

.inputDiv {
	margin-bottom: 1.5rem;
	transition: all 0.3s;
}

.group {
	margin-bottom: 0.2rem;
	transition: all 0.3s;
}

.input {
  font-weight: 500;
	font-size: $font-size-md;
	border-radius: 0;
	line-height: 1.5rem;
	background: $color-transparent;
	padding: 0.825rem 0.825rem 0.825rem 3.375rem;
	width: 100%;
	box-sizing: border-box;
  border-style: solid;
	border-color: rgba($color-grey, .3);
	border-width: 0 0 0.15rem 0;

 &:focus {
		border-color: $color-main;
		color: $color-main;
		outline: none;
	}

	@include media-breakpoint-down(xs) {
		padding: 0.625rem 0.625rem 0.625rem 3.375rem;
		margin-bottom: 0.5rem;
	}
}

/* Icon */
.icon {
	background-size: 1.875rem;
	background-position: 0.6875rem 0.5rem;
	background-repeat: no-repeat;
}
.icon-name {
	background-image: url(assets/icon/name.svg);
}

.icon-email {
	background-image: url(assets/icon/email.svg);
}

.icon-code {
	background-image: url(assets/icon/code.svg);
}

.icon-dateOfBirth {
	background-image: url(assets/icon/cake.svg);
}

.icon-university {
	background-image: url(assets/icon/graduation-cap.svg);
}
