.main-container {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	min-width: 100%;
  margin-top:30px;
	border-radius: 7px;
	// left: 50%;
	// float: left;
	// width: 450px;
	// margin-left: -260px;
}
