@import "color";

.nav {
  line-height: 1.5rem;
  background: $color-light;
}

.nav-item {
  margin: -0.5rem -1rem;
  padding: 0.5rem 1rem;

  &:hover {
    background: $color-grey-background;
    cursor: pointer;
  }
}

.active {
  background: $color-grey-background;
}
